.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
}

.modal-form label {
  display: block;
  margin: 1rem 0 0.25rem;
}

.modal-form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.modal-form input {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.create-btn {
  background: green;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.cancelbtn {
  background: gray;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

